.close-btn-wrapper {
  position: relative;
  height: 32px;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.btn-close {
  width: 30px;
  height: 30px;
}

.stepper {
  height: 100px;
}

.content-wrap {
  height: calc(100% - 158px);
}

.title {
  margin: 0;
  color: #455a64;
  font-size: 26px;
  text-align: center;
}

.text {
  padding: 10px;
  color: #455a64;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}
