<div class="close-btn-wrapper">
  <button (click)="onClose()" class="close-btn">
    <img src="../assets/close.svg" alt="close" class="btn-close" />
  </button>
</div>
<div class="stepper">
  <p class="title">Оформление заказа:</p>
  <!-- <app-stepper
    [curId]="selectedId"
    (selectedElemId)="selectedElemId($event)"
  ></app-stepper> -->
</div>
<div class="content-wrap">
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Проверка состава заказа">
      <perfect-scrollbar>
        <div class="tab-content"></div>
      </perfect-scrollbar>
    </mat-tab>
    <mat-tab label="О покупателе">
      <perfect-scrollbar>
        <div class="tab-content"></div>
      </perfect-scrollbar>
    </mat-tab>
    <mat-tab label="Доставка">
      <perfect-scrollbar>
        <div class="tab-content"></div>
      </perfect-scrollbar>
    </mat-tab>
    <mat-tab label="Выбор способа оплаты">
      <perfect-scrollbar>
        <div class="tab-content"></div>
      </perfect-scrollbar>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="get-btn-wrap">
  <button class="get-btn" (click)="onGetBtn()">ЗАКАЗАТЬ</button>
</div>
