<div class="close-btn-wrapper">
  <button (click)="onClose()" class="close-btn">
    <img src="../assets/close.svg" alt="close" class="btn-close" />
  </button>
</div>
<div class="stepper">
  <p class="title">Оформление заказа:</p>
  <!-- <app-stepper
    [curId]="selectedId"
    (selectedElemId)="selectedElemId($event)"
  ></app-stepper> -->
</div>
<div class="content-wrap">
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Проверка состава заказа">
      <perfect-scrollbar>
        <div class="tab-content">
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>
          <div class="order">
            <div class="image">
              <img src="../assets/lamb.jpg" alt="order" class="order-item" />
            </div>
            <div class="details">
              <p class="order-title">Настольная лампа INhome 4690612012902</p>
              <div class="flex padding-top">
                <div class="flex order-input">
                  <div class="arr arr-left" (click)="onLess()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                  <input
                    type="number"
                    id="numb"
                    [value]="inputVal"
                    step="1"
                  /><br />
                  <div class="arr arr-right" (click)="onMore()">
                    <img
                      src="../assets/back.svg"
                      alt="order"
                      class="order-item"
                    />
                  </div>
                </div>
                <p class="amount">на сумму</p>
                <p class="price">2 000 руб</p>
              </div>
              <p class="more-order">Посмотреть сопутствующие товары</p>
              <p class="remove">Удалить</p>
            </div>
          </div>

          <div class="flex flex-start m-b p-t">
            <p class="sum">Общая стоимость:</p>
            <p class="sum-numb">10 000 руб</p>
          </div>
        </div>
      </perfect-scrollbar>
    </mat-tab>
    <mat-tab label="О покупателе">
      <perfect-scrollbar>
        <div class="tab-content"></div>
      </perfect-scrollbar>
    </mat-tab>
    <mat-tab label="Доставка">
      <perfect-scrollbar>
        <div class="tab-content"></div>
      </perfect-scrollbar>
    </mat-tab>
    <mat-tab label="Выбор способа оплаты">
      <perfect-scrollbar>
        <div class="tab-content"></div>
      </perfect-scrollbar>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="get-btn-wrap">
  <button class="get-btn" (click)="onGetBtn()">ЗАКАЗАТЬ</button>
</div>
